<style>
    #index_main{
        text-align: center;
        width:84%;
        float:right;
        /* border: solid black 1px; */
    }

    #index_today_events{
        display:flex;
    }

    #index_birthdays{
        width:50%;
        border-right: solid 2px;
        height: 400px
    }

    #index_anniversaries{
        width:50%;
        float: right;
    }
</style>

<div id="index_main">
    <h3><u>Today's Events</u></h3>
    <div id="index_today_events">
        <div id="index_birthdays">
            <h4>Birthday(s)</h4>
        </div>
        <div id="index_anniversaries">
            <h4>Anniversaries(s)</h4>
        </div>
    </div>
</div>